decorator:
	Psr\Log\LoggerAwareInterface:
		setup:
			- setLogger

extensions:
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	oauth2: Lookyman\NetteOAuth2Server\Storage\Doctrine\NetteOAuth2ServerDoctrineExtension
	orm.cache: Nettrine\Cache\DI\CacheExtension

nettrine.dbal:
    connection:
        user: 'foo'
        password: ''
        dbname: 'bar'
        host:
        driver: 'pdo_mysql'

oauth2:
	grants:
		authCode: [pkce: true]
		clientCredentials: [ttl: PT2H]
		implicit: true
		password: true
		refreshToken: true
	privateKey:
		keyPath: %appDir%/keys/private.key
		passPhrase: foobar
	publicKey: %appDir%/keys/public.key
	encryptionKey: 'ziVrR/ktyjH0499H1sG6B/dUvEEqLEUfDRp0n0ND/34='
	approveDestination: :Foo:bar
	loginDestination: :Bar:foo
	tablePrefix: test_
	loginEventPriority: 1

services:
	- Lookyman\NetteOAuth2Server\Storage\Doctrine\Tests\Mock\LoggerMock
	custom: Lookyman\NetteOAuth2Server\Storage\Doctrine\Tests\Mock\CustomGrantMock
	oauth2.authorizationServer:
		setup:
			- enableGrantType(@custom)

	oauth2.presenter:
		class: Lookyman\NetteOAuth2Server\UI\OAuth2Presenter
		autowired: false
